@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Titillium+Web:wght@300&family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    background-color:  #2874f0;;
}
nav{
    display: flex;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    width: 80px;
    padding: 0px 26px;
}
.container{
    min-height: calc(100vh - 59px - 8vh);
}
nav ul li{
list-style: none;
display: inline;
padding: 0px 40px;
}
nav ul li a{
color: white;
text-decoration: none;
font-family: 'Titillium Web', sans-serif;
}
nav ul{
    height: 59px; 
    align-items: center;
    display: flex;

}
nav ul li a:hover{
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
    border: none;
    width: 500px;
}
.search input{
    height: 22px;
    width: 30vw;
margin: 0px 20px 0px 50px;
padding: 0px 10px;
}
.btn{
    padding:0px 10px;
    background-color: #2874f0;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
   font-family: 'Titillium Web', sans-serif;
   font-weight: 700;
}
.slider{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    height: 75vh;
}
.card-items{
    
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    
    
}
    

.card{
    font-family: 'Titillium Web', sans-serif;
    padding: 0px 90px;
}
.card h2{
    padding: 20px 2px;
    font-family: 'Titillium Web', sans-serif;
}
footer{
    color: white;
    background-color: black;
    height: 8vh;
    font-family: 'Titillium Web', sans-serif;
}